::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(255, 154, 0, 0.7);
    background-color: #FFEB9A;
}

::-webkit-scrollbar-thumb {
    background: #FF9A00;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: monospace;
    user-select: none;
}

:root {
    --tua: #FF9A00;
    --muda: #FFEB9A;
    --pudar: #FFFDE1;
}

ul {
    list-style: none;
}

body {
    line-height: 1.6;
    background-color: var(--pudar);
}

header {
    background-color: var(--muda);
    filter: drop-shadow(0 2px 20px var(--tua));
}

@keyframes nav {
    0% {
        visibility: hidden;
    }

    92% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
}

nav {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.7rem;
}

.menu>li,
.menu>a {
    display: inline-block;
}

.menu li {
    position: relative;
}

.menu li i {
    padding: 5px;
    color: var(--tua);
}

.menu a {
    text-decoration: none;
    color: var(--tua);
    display: block;
    padding: 10px 1rem;
    transition: background-color .22s ease, color .22s ease;
    font-weight: bold;
    text-shadow: 2px 2px 1px var(--pudar);
}

.menu a:hover {
    background-color: var(--tua);
    color: var(--muda);
    text-shadow: none;
}

.menu a:hover i {
    color: var(--muda);
    text-shadow: none;
}

.submenu {
    position: absolute;
    background-color: var(--muda);
    width: 148.5px;
    display: none;
    text-align: center;
    box-shadow: 0 2px 10px var(--tua);
}

.submenu2 {
    position: absolute;
    left: 100%;
    width: 148.5px;
    top: 0;
    background-color: var(--muda);
    display: none;
    box-shadow: 0 2px 10px var(--tua);
}

.menu li:hover>.submenu {
    display: block;
    animation: slideup .3s ease;
}

.submenu li:hover .submenu2 {
    display: block;
    animation: slideleft .3s ease;

}

@keyframes slideup {
    0% {
        opacity: 0;
        transform: translateY(-18px);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes slideleft {
    0% {
        opacity: 0;
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

main {
    margin-top: 3%;
    margin-bottom: 2%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main h1 {
    color: var(--tua);
    font-size: 4.5rem;
    text-shadow: 3px 3px 2px var(--muda);
    margin-bottom: 1.3%;
}

main .semester {
    width: 85%;
    height: auto;
    background-color: var(--muda);
    border-radius: 1.4rem;
    outline: 3px solid var(--tua);
    padding: 1.5%;
}

main .semester .perpus {
    height: 1.5rem;
    width: 1.5rem;
    background-color: var(--pudar);
    border-radius: 50%;
    outline: 3px solid var(--tua);
    padding: 1%;
    justify-content: center;
    display: flex;
    position: absolute;
    left: 4.1%;
    top: 29%;
    transition: transform 1s;
    animation: perpus 5s infinite linear;
}

@keyframes perpus {
    0% {
        transform: scale(1);
    }

    10% {
        transform: scale(1.1);
    }

    20% {
        transform: scale(1);
    }

    30% {
        transform: scale(1.1);
    }

    40% {
        transform: scale(1);
        ;
    }

    50% {
        transform: scale(1.1);
        ;
    }

    60% {
        transform: scale(1);
        ;
    }

    70% {
        transform: scale(1.1);
        ;
    }

    80% {
        transform: scale(1);
        ;
    }

    90% {
        transform: scale(1.1);
        ;
    }

    100% {
        transform: scale(1);
        ;
    }
}

main .semester .perpus:hover {
    background-color: var(--tua);
}

main .semester .perpus:hover i {
    color: var(--muda);
    text-shadow: none;
}

main .semester .perpus:hover a {
    color: var(--tua);
}

main .semester .perpus a {
    color: var(--pudar);
    font-size: 0.000000001px;
}

main .semester .perpus i {
    font-size: 1.6rem;
    color: var(--tua);
    text-shadow: 2px 2px 1px var(--muda);
}

main .semester h2 {
    color: var(--tua);
    font-size: 2rem;
    text-shadow: 3px 3px 2px var(--pudar);
    font-weight: bold;
    margin: 0 2%;
}

main .semester .semester2 {
    margin-top: 2.5%;
}

main .semester .semester1 ul li,
main .semester .semester2 ul li {
    margin: 0 5% .5% 5%;
    display: inline-block;
    padding: .5rem;
}

main .semester ul li a {
    color: var(--tua);
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}

main .semester img {
    height: 10rem;
    width: 10rem;
    margin: 0 0 .2rem 0;
    transition: .5s;
}

main .semester img:hover {
    transform: scale(1.1);
}

main .semester ul li figure figcaption {
    height: auto;
    width: 100%;
    background-color: var(--pudar);
    border-radius: 1.2rem;
    outline: .2rem solid var(--tua);
    box-shadow: .4rem .4rem .3rem var(--pudar);
    transition: .5s;
}

main .semester ul li figure figcaption:hover {
    transform: scale(1.1);
}

a.popup-link {
    padding: 17px 0;
    text-align: center;
    margin: 7% auto;
    position: relative;
    height: auto;
    width: auto;
    color: #fff;
    text-decoration: none;
    background-color: #FFBA00;
    border-radius: 3px;
    box-shadow: 0 5px 0px 0px #eea900;
    display: block;
}

a.popup-link:hover {
    background-color: #ff9900;
    box-shadow: 0 3px 0px 0px #eea900;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

#popup1,
#popup2,
#popup3,
#popup4,
#popup5,
#popup6,
#popup7,
#popup8 {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    margin-top: -200px;
}

#popup1:target,
#popup2:target,
#popup3:target,
#popup4:target,
#popup5:target,
#popup6:target,
#popup7:target,
#popup8:target {
    visibility: visible;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    z-index: 99999999999;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

@media (min-width: 768px) {
    .popup-container {
        width: 700px;
    }
}

@media (max-width: 767px) {
    .popup-container {
        width: 100%;
    }
}

.popup-container {
    position: relative;
    margin: 1.8% auto;
    padding: 1% 3% 3% 3%;
    background-color: var(--muda);
    color: var(--tua);
    border-radius: 2rem;
}

.popup-container h1,
.popup-container p {
    color: var(--tua);
    font-weight: bold;
    text-shadow: 3px 3px 2px var(--pudar);
    display: inline-block;
}

.popup-container h1 {
    font-size: 3.4rem;
    text-align: center;
    margin: 0 30% 1% 30%;
}

.popup-container p {
    font-size: 1rem;
    margin-bottom: 1.5%;
}

.popup-container object {
    border-radius: 1rem;
    outline: .3rem solid var(--tua);
}

a.popup-close {
    position: absolute;
    top: 3%;
    right: 4%;
    background-color: var(--pudar);
    height: auto;
    width: auto;
    padding: .7rem 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    line-height: 1;
    color: var(--tua);
    border-radius: 50%;
    font-weight: bold;
    outline: .3rem solid var(--tua);
    transition: .2s;
}

a.popup-close:hover {
    background-color: var(--tua);
    color: var(--muda);
}

.footer {
    background-color: var(--pudar);
    color: var(--tua);
    height: auto;
    width: 100%;
    padding-bottom: 20px;
}

.footer .botol {
    display: flex;
    margin: auto;
    align-content: center;
    justify-content: center;
}

.footer .botol button {
    margin: 0 .4%;
    display: inline-block;
    background-color: var(--muda);
    transition: .6s;
    border: none;
    border-radius: 10px;
    height: auto;
    outline: 3px solid var(--tua);
    box-shadow: 5px 3px 7px var(--muda);
    text-decoration: none;
    padding: 7px 15px;
}

.footer .botol button a {
    color: var(--tua);
    padding: 0px 15px;
    font-weight: bold;
    font-size: 1.1rem;
    text-shadow: 2px 2px 1px var(--pudar);
}

.footer .botol button:hover {
    transform: translateY(-5px);
}