::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(255, 154, 0, 0.7);
    background-color: #FFEB9A;
}

::-webkit-scrollbar-thumb {
    background: #FF9A00;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: monospace;
}

:root {
    --tua: #FF9A00;
    --muda: #FFEB9A;
    --pudar: #FFFDE1;
}

ul {
    list-style: none;
}

body {
    line-height: 1.6;
    background-color: var(--pudar);
}

header {
    background-color: var(--muda);
    filter: drop-shadow(0 2px 20px var(--tua));
}

@keyframes nav {
    0% {
        visibility: hidden;
    }

    92% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
}

nav {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.7rem;
}

.menu>li,
.menu>a {
    display: inline-block;
}

.menu li {
    position: relative;
}

.menu li i {
    padding: 5px;
    color: var(--tua);
}

.menu a {
    text-decoration: none;
    color: var(--tua);
    display: block;
    padding: 10px 1rem;
    transition: background-color .22s ease, color .22s ease;
    font-weight: bold;
    text-shadow: 2px 2px 1px var(--pudar);
}

.menu a:hover {
    background-color: var(--tua);
    color: var(--muda);
    text-shadow: none;
}

.menu a:hover i {
    color: var(--muda);
    text-shadow: none;
}

.submenu {
    position: absolute;
    background-color: var(--muda);
    width: 148.5px;
    display: none;
    text-align: center;
    box-shadow: 0 2px 10px var(--tua);
}

.submenu2 {
    position: absolute;
    left: 100%;
    width: 148.5px;
    top: 0;
    background-color: var(--muda);
    display: none;
    box-shadow: 0 2px 10px var(--tua);
}

.menu li:hover>.submenu {
    display: block;
    animation: slideup .3s ease;
}

.submenu li:hover .submenu2 {
    display: block;
    animation: slideleft .3s ease;

}

@keyframes slideup {
    0% {
        opacity: 0;
        transform: translateY(-18px);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes slideleft {
    0% {
        opacity: 0;
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

.main {
    width: 100%;
    min-height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: 35%;
    background-position: center;
    background-color: var(--pudar);
}

.game-quiz-container {
    width: 70rem;
    height: 44rem;
    background-color: var(--muda);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
    border: 8.5px solid var(--tua);
}

.game-details-container {
    width: 92%;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
}

.game-details-container h1 {
    font-size: 1.5rem;
    color: var(--tua);
    text-shadow: 2px 2px 1px var(--pudar);
}

.game-question-container {
    width: 60%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px;
    border-radius: 25px;
}

#question {
    width: 40%;
    height: 5rem;
    position: absolute;
    left: 3px;
    top: 0;
}

.game-question-container h1 {
    font-size: 1.6rem;
    color: var(--tua);
    text-align: center;
    padding: 3px;
    border: none;
    text-shadow: 2px 2px 1px var(--pudar);
}

.game-options-container {
    width: 85%;
    height: 12rem;
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    align-items: center;
    justify-content: space-around;
}

.game-options-container span {
    width: 40%;
    height: 4rem;
    border-radius: 35px;
    outline: 5px solid var(--tua);
    overflow: hidden;
    background: var(--pudar);
    color: var(--tua);
    text-align: center;

}

span label {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s;
    font-weight: 600;
    color: var(--tua);
}

span label:hover {
    -ms-transform: scale(1.12);
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
    color: var(--tua);
}

input[type="radio"] {
    position: relative;
    display: none;
}

input[type=radio]:checked~.option {
    background: var(--tua);
    color: var(--muda);
}

.next-button-container {
    width: 50%;
    height: 3rem;
    display: flex;
    justify-content: center;
}

.next-button-container button {
    width: 7rem;
    height: 3.5rem;
    border-radius: 15px;
    background: var(--pudar);
    color: var(--tua);
    font-weight: 600;
    outline: 4px solid var(--tua);
    cursor: pointer;
    font-size: 1.6rem;
    border: none;
    text-shadow: 2px 2px 1px var(--muda);
}

.next-button-container button:hover {
    background-color: var(--tua);
    text-shadow: none;
    color: var(--muda);
}

.modal-container {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-animation: fadeIn 1s ease;
    animation: fadeIn 1s ease;
}

.modal-content-container {
    height: auto;
    width: 35rem;
    background-color: var(--muda);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
    outline: 5px solid var(--tua);
    padding: 2rem;
}

.modal-content-container h1 {
    font-size: 2.4rem;
    color: var(--tua);
    text-align: center;
    padding: 0px 10px 20px 10px;
    text-shadow: 2px 2px 1px var(--pudar);
}

.grade-details {
    width: 15rem;
    height: 10rem;
    display: contents;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.grade-details p {
    color: var(--tua);
    text-align: center;
    font-size: 20px;
}

.modal-button-container {
    height: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.modal-button-container button {
    width: 10rem;
    height: 2rem;
    outline: 3px solid var(--tua);
    border: none;
    color: var(--tua);
    font-size: 1.3rem;
    cursor: pointer;
    border-radius: 20px;
    background: var(--pudar);
    font-weight: bold;
    text-shadow: 2px 2px 1px var(--muda);
}

.modal-button-container button:hover {
    background-color: var(--tua);
    color: var(--muda);
    text-shadow: none
}

@media(min-width : 300px) and (max-width : 350px) {
    .game-quiz-container {
        width: 90%;
        height: 80vh;
    }

    .game-details-container h1 {
        font-size: 0.8rem;
    }

    .game-question-container {
        height: 6rem;
    }

    .game-question-container h1 {
        font-size: 0.9rem;
    }

    .game-options-container span {
        width: 90%;
        height: 3rem;
    }

    .game-options-container span label {
        font-size: 2rem;
    }

    .modal-content-container {
        width: 90%;
        height: 25rem;
    }

    .modal-content-container h1 {
        font-size: 1rem;
    }
}

@media(min-width : 350px) and (max-width : 700px) {
    .game-quiz-container {
        width: 90%;
        height: 80vh;
    }

    .game-details-container h1 {
        font-size: 1rem;
    }

    .game-question-container {
        height: 8rem;
    }

    .game-question-container h1 {
        font-size: 0.9rem;
    }

    .game-options-container span {
        width: 90%;
    }

    .modal-content-container {
        width: 90%;
        height: 25rem;
    }

    .modal-content-container h1 {
        font-size: 1.2rem;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.footer {
    background-color: var(--pudar);
    color: var(--tua);
    height: auto;
    width: 100%;
    padding-bottom: 20px;
}

.footer button {
    margin: auto;
    display: block;
    background-color: var(--muda);
    transition: .6s;
    border: none;
    border-radius: 10px;
    height: auto;
    outline: 3px solid var(--tua);
    box-shadow: 5px 3px 7px var(--muda);
    text-decoration: none;
    padding: 7px 15px;
}

.footer button a {
    color: var(--tua);
    padding: 0px 15px;
    font-weight: bold;
    font-size: 1.1rem;
    text-shadow: 2px 2px 1px var(--pudar);
}

.footer button:hover {
    transform: scale(1.2, 1.2);
}